Support for Ed25519 and Ed448 signatures

Add support for EdDSA public keys in certificates and the Ed25519 and Ed448 signatures they make on TLS messages.

See [RFC 8032](https://tools.ietf.org/html/rfc8032), [RFC 8410](https://tools.ietf.org/html/rfc8410) and [RFC 8422](https://tools.ietf.org/html/rfc8422)